<header class="bg-black text-2xl text-white flex flex-col lg:flex-row justify-between items-center py-3 px-10 ">
    <img src="https://img.freepik.com/premium-vector/bag-letter-b-combination-online-shopping-shopping-application-logo-design_989520-952.jpg?w=1380" class="h-20 animate-pulse" alt="image">
    <nav>
        <ul class=" list-none flex flex-col lg:flex-row gap-6 items-center ">
            <li class="text-2xl text-white hover:text-gray-400 transition-all"><a href=""></a>Home</li>
            <li class="text-2xl text-white hover:text-gray-400 transition-all"><a href=""></a>About</li>   
            <li class="text-2xl text-white hover:text-gray-400 transition-all"><a href=""></a>Product</li>
            <li class="text-2xl text-white hover:text-gray-400 transition-all"><a href=""></a>Contact</li>
        </ul>
    </nav>
</header>