<footer class="bg-black text-1xl text-white  p-2 my-5 flex items-center justify-center gap-2 ">
    This site belongs to DS &copy; 2025 
    <a href="https:/wa.me/6454545454" target="blank">
      <img src="whatsapp.svg" class="h-5 w-5 courser-pointer" alt="img">
    </a>
    <a href="https://www.facebook.com/abc" target="_blank">
      <img src="facebook.svg" class="h-5 w-5" alt="Facebook">
    </a>
    <a href="https://www.instagram.com/abc" target="_blank">
      <img src="instagram.svg" class="h-5 w-5" alt="Facebook">
    </a>
  </footer>