<header class="flex flex-col gap-10 lg:flex-row lg:justify-between items-center py-4 px-10 bg-gradient-to-tr from-orange-200 to-blue-400">
<div class="flex items-center gap-3">
     <img src="movie.png" alt="image"class="h-20"> <a routerLink="/"> <h2 class="text-4xl">Movie <span class="text-blue-600">Mania</span></h2> </a>
</div>
<nav class="menu flex">
<ul class="flex items-center gap-5 list-unstyled ">
  <li>
    <a routerLink="/" routerLinkActive="text-blue-700"
       class="text-2xl text-white hover:text-blue-600 cursor-pointer decoration-0">Home</a>
  </li>
  <li>
   <a routerLink="/contact" routerLinkActive="text-blue-700"
     class="text-2xl text-white hover:text-blue-600 cursor-pointer decoration-0">Contact</a>
  </li>
</ul>

</nav>
</header>

<!-- <router-outlet></router-outlet> -->