.navbar-nav li a:hover{
    color: aqua !important;
}  
h1 a{
    text-decoration: none;
} 
.suggested-result {
    position: absolute;
    display: list-item !important;
    z-index: 10;
    background-color: #fff;
    width: 300px;
    top: 40px;
    border: 1px solid #ddd;
}
.suggested-result li{
    border: 1px solid #ddd;
    padding: 5px;
}
.suggested-result li a{
    cursor: pointer;
    color:blue;
}