<div class="user-auth">
  <div *ngIf="!showLogin" class="user-signup">
    <h1 class="text-center text-primary">User SignUp</h1>
    <form
      #userSignUp="ngForm"
      class="common-form"
      (ngSubmit)="signUp(userSignUp.value)"
    >
      <input
        class="form-input"
        type="text"
        placeholder="Enter User Name"
        name="name"
        ngModel
      />
      <input
        class="form-input"
        type="email"
        placeholder="Enter User Email"
        name="email"
        ngModel
      />
      <input
        class="form-input"
        type="password"
        placeholder="Enter User Password"
        name="password"
        ngModel
      />
      <button class="form-button btn btn-primary">SignUp</button>

      <p>Already Have Account ?<a (click)="openLogin()">Click Here </a></p>
    </form>
  </div>
    
  <!-- ====================== -->
  <div *ngIf="showLogin" class="user-login">
    <h1 class="text-center text-primary">User Login</h1>

    <form
      #userLogin="ngForm"
      class="common-form"
      (ngSubmit)="login(userLogin.value)"
    >
      <input
        type="text"
        class="form-input"
        name="email"
        placeholder="Enter user Email"
        ngModel
      />
      <input
        class="form-input"
        type="password"
        placeholder="Enter User Password"
        name="password"
        ngModel
      />
      <button class="form-button btn btn-primary">Login</button>
      <p>Want to create Account ?<a (click)="openSignUp()">Click Here</a></p>
    </form>
  </div>
</div>
