<div class="user-auth">
  <div *ngIf="!showLogin" class="user-signup">
    <h1 class="text-center text-primary">User SignUp</h1>
    <form
      #userSignUp="ngForm"
      class="common-form"
      (ngSubmit)="signUp(userSignUp.value)"
    >
      <input
        class="form-input"
        type="text"
        placeholder="Enter User Name"
        name="name"
        ngModel
        #name="ngModel"
        required
      />
      <p class="text-danger invalid-input" *ngIf="name.invalid && name.touched">Name is required</p>
      <input
        class="form-input"
        type="email"
        placeholder="Enter User Email"
        name="email"
        ngModel
        #email="ngModel"
        required
        email
      />
        <p class="text-danger invalid-input" *ngIf="email.invalid && email.touched">email is required</p>
      <input
        class="form-input"
        type="password"
        placeholder="Enter User Password"
        name="password"
        ngModel
        #password="ngModel"
        required
        minlength="4"
        maxlength="20"
      />
        <p class="invalid-input text-danger f-6"><span *ngIf="password.invalid && password.touched">Please Enter Valid password</span></p>
      <button class="form-button btn btn-primary" [disabled]="userSignUp.invalid">SignUp</button>

      <p>Already Have Account ?<a (click)="openLogin()">Click Here </a></p>
    </form>
  </div>
    
  <!-- ====================== -->
  <div *ngIf="showLogin" class="user-login">
    <h1 class="text-center text-primary">User Login</h1>

    <form
      #userLogin="ngForm"
      class="common-form"
      (ngSubmit)="login(userLogin.value)"
    >
    <p class="text-danger">{{authError}}</p>
      <input
        type="text"
        class="form-input"
        name="email"
        placeholder="Enter user Email"
        ngModel
        #email="ngModel"
        required
        email
      />
      <p class="invalid-input text-danger fs-6"><span *ngIf="email.invalid && email.touched">Please Enter Valid Email</span></p>
      <input
        class="form-input"
        type="password"
        placeholder="Enter User Password"
        name="password"
        ngModel
        minlength="4"
        maxlength="20"
        #password="ngModel"
        required

      />
      <p class="invalid-input text-danger f-6"><span *ngIf="password.invalid && password.touched">Please Enter Valid password</span></p>

      <button [disabled]="userLogin.invalid" class="form-button btn btn-primary">Login</button>
      <p>Want to create Account ?<a (click)="openSignUp()">Click Here</a></p>
    </form>
  </div>
</div>
