/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
body{
    font-family: sans-serif;
}
/* .main{
    margin-left: 3%;
    margin-right: 3%;
} */

.comman-in{
    border: 1px solid blueviolet;
}

.comman-pointer{
    cursor: pointer;
}
.carousel-caption{
    background-color: #00000082;
    border-radius: 5px;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
  background-color: black;
  color: black;
  border-radius: 5px;
}