 
<div  class="flex flex-col md:flex-row">
 <!-- Right Side (Images - Always Visible) -->
 <div class="w-full md:w-4/4  p-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-1">
      <div class="text-center">
        <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/192235/scram-440-right-side-view-3.png?isig=0&q=80" class="w-full h-48 object-cover transform transition duration-300 hover:scale-110 cursor-pointer" alt="Scram 440">
        <a href="https://www.royalenfield.com/in/en/motorcycles/scram-440/"><p class="font-bold  p-2 hover:scale-110">Scram 440</p></a>
      </div>
      <div class="text-center">
        <img src="https://imgd.aeplcdn.com/1280x720/n/cw/ec/151461/goan-classic-350-right-side-view-2.jpeg?isig=0" class="w-full h-48 object-cover transform transition duration-300 hover:scale-110 cursor-pointer" alt="Goan Classic 350">
        <a href="https://www.royalenfield.com/in/en/motorcycles/goan-classic-350/"><p class="font-bold p-2 hover:scale-110">Goan Classic 350</p></a>
      </div>
      <div class="text-center">
        <img src="https://www.ural-team.de/img/cms/Bear650_RHS_Profile_TwoFourNine.jpg" class="w-full h-48 object-cover transform transition duration-300 hover:scale-110 cursor-pointer" alt="Bear 650">
         <a href="https://www.royalenfield.com/in/en/motorcycles/bear-650/"><p class=" font-bold p-2 hover:scale-110">Bear 650</p></a>
      </div>
      <div class="text-center">
        <img src="https://imgd.aeplcdn.com/1200x900/n/cw/ec/183389/classic-350-right-side-view-62.jpeg?isig=0" class="w-full h-48 object-cover transform transition duration-300 hover:scale-110 cursor-pointer" alt="Classic 350">
         <a href="https://www.royalenfield.com/in/en/motorcycles/classic-350/"><p class=" font-bold p-2 hover:scale-110">Classic 350</p></a>
      </div>
      <div class="text-center">
        <img src="https://www.jagranimages.com/images/newimg/27082023/27_08_2023-re_himalayan_23513869.webp" class="w-full h-48 object-cover transform transition duration-300 hover:scale-110 cursor-pointer" alt="Himalayan 450">
         <a href="https://www.royalenfield.com/in/en/motorcycles/new-himalayan/"><p class="font-bold  p-2 hover:scale-110">Himalayan 450</p></a>
      </div>
      <div class="text-center">
        <img src="https://imgd.aeplcdn.com/1280x720/n/cw/ec/108885/super-meteor-650-right-front-three-quarter-2.jpeg?isig=0" class="w-full h-48 object-cover transform transition duration-300 hover:scale-110 cursor-pointer" alt="Super Meteor">
        <a href="https://www.royalenfield.com/in/en/motorcycles/super-meteor-650/"><p class="font-bold p-2 hover:scale-110">Super Meteor</p></a>
      </div>
      <div class="text-center">
        <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/192235/scram-440-right-side-view-3.png?isig=0&q=80" class="w-full h-48 object-cover transform transition duration-300 hover:scale-110 cursor-pointer" alt="Scram 440">
        <a href="https://www.royalenfield.com/in/en/motorcycles/scram-440/"><p class="font-bold  p-2 hover:scale-110">Scram 440</p></a>
      </div>
      <div class="text-center">
        <img src="https://www.ural-team.de/img/cms/Bear650_RHS_Profile_TwoFourNine.jpg" class="w-full h-48 object-cover transform transition duration-300 hover:scale-110 cursor-pointer" alt="Bear 650">
        <a href="https://www.royalenfield.com/in/en/motorcycles/bear-650/"><p class=" font-bold p-2 hover:scale-110">Bear 650</p></a>
      </div>
      <div class="text-center">
        <img src="https://www.ural-team.de/img/cms/Bear650_RHS_Profile_TwoFourNine.jpg" class="w-full h-48 object-cover transform transition duration-300 hover:scale-110 cursor-pointer" alt="Bear 650">
        <a href="https://www.royalenfield.com/in/en/motorcycles/bear-650/"><p class=" font-bold p-2 hover:scale-110">Bear 650</p></a>
      </div>
      <div class="text-center">
        <img src="https://www.jagranimages.com/images/newimg/27082023/27_08_2023-re_himalayan_23513869.webp" class="w-full h-48 object-cover transform transition duration-300 hover:scale-110 cursor-pointer" alt="Himalayan 450">
        <a href="https://www.royalenfield.com/in/en/motorcycles/new-himalayan/"><p class="font-bold  p-2 hover:scale-110">Himalayan 450</p></a>
      </div>
      <div class="text-center">
        <img src="https://imgd.aeplcdn.com/1056x594/n/cw/ec/192235/scram-440-right-side-view-3.png?isig=0&q=80" class="w-full h-48 object-cover transform transition duration-300 hover:scale-110 cursor-pointer" alt="Scram 440">
        <a href="https://www.royalenfield.com/in/en/motorcycles/scram-440/"><p class="font-bold  p-2 hover:scale-110">Scram 440</p></a>
      </div>
      <div class="text-center">
        <img src="https://www.ural-team.de/img/cms/Bear650_RHS_Profile_TwoFourNine.jpg" class="w-full h-48 object-cover transform transition duration-300 hover:scale-110 cursor-pointer" alt="Bear 650">
        <a href="https://www.royalenfield.com/in/en/motorcycles/bear-650/"><p class=" font-bold p-2 hover:scale-110">Bear 650</p></a>
      </div>
    </div>
</div>
