<ngb-carousel *ngIf="popularProducts" [interval]="2000">
  <ng-template *ngFor="let item of popularProducts" ngbSlide>
    <div class="picsum-img-wrapper">
      <a [routerLink]="'/details/' + item.id"> <img
        class="product-header-img object-fit-contain"
        src="{{ item.image }}"
        alt="Random first slide"
      />
      </a>
    </div>
    <div class="carousel-caption">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="product-list-wrapper">
  <h1 class="text-center mb-5 ">Trendy Products</h1>
  <div class="row g-4">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let item of trendyProducts">
      <div class="card h-100 shadow-sm border-0 product-hover-effect">
        <a [routerLink]="'/details/' + item.id"> <img [src]="item.image" class="card-img-top p-3 object-fit-contain" style="height: 200px;" alt="{{item.name}}"/></a>
        <div class="card-body text-center">
          <h5 class="card-title fw-semibold">{{ item.name }}</h5>
          <p class="card-text mb-1">Price: ₹{{ item.price }}</p>
          <p class="card-text text-muted">Color: {{ item.color }}</p>
        </div>
        <div class="card-footer bg-white border-0 text-center">
          <a [routerLink]="'/details/' + item.id" class="btn btn-outline-primary btn-sm px-4">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
